html{
    width : 100%;
    height: 100%;
    margin: auto;
}

/* Header */
#icon{
    max-width: 50px;
    max-height: 50px;
}

.menu:hover{
    color: gold !important;
}


/* Frontpage */

#lastArticle{
    margin: 2%;
    border: 1px lightgray solid;
    box-shadow: 0 3px 12px grey;;
    padding : 30px;
}
#flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chapters{
    padding : 12px;
    flex-direction: column;
    min-width: 24%;
    max-width: 24%;
    margin: 15px 5px;
    box-shadow: 0 3px 12px grey;;
    border : 1px lightgray solid;
}

/* Chapter Pages */
#chapter_display{
    margin: 50px;
    padding : 25px;
    border-bottom: 1px grey dotted;
}

#comment_section{
    width : auto;
    margin : 2% 25% 2% 25%;

}

#CommentText{
    width: 100%;
    border : 2px lightgrey solid;
}
 .comment{
    padding: 10px;
    border : 1px red solid;
    border-radius : 4px;
    margin : 10px 0;
 }

 /* Footer */
footer{
    height: 100px;
}

footer p {
    margin-top: 50px;
    text-align: center;
}

/* Dashboard */
#allChaptersDash{
    border : 1px grey solid;
    border-radius : 20px;
    width : 90%;
    margin : auto;
    padding : 50px;
    display : flex;
    flex-direction: column-reverse;
}

.chaptersdash{
    display: flex;
    margin:15px;
    padding : 10px;
    flex-direction: column;
    box-shadow: 0 3px 12px grey;;
    border : 1px lightgray solid;
}


/* Dasboard - Comment Section */
#commentDiv{
    display : flex;
    flex-direction : space-between;
    
}
#commentToModerate{
    width : 90%;
    margin : 0px auto 50px auto;
    padding : 50px;
    border : 1px grey solid;
    border-radius : 20px;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse; 
}

thead{
    border-collapse: collapse; 
}


tbody tr{ 
    border : thin dashed;
}

td{
    padding: 20px;
}

th{
    padding : 0px 20px;
}

.btn{
    justify-content: center;;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom : -20px;
}

.title h1{
    font-size: 60px;
    margin-bottom : -5px;
    background-color: white;
    padding-right : 10px;
}

.chapter_view{
    margin: 10px;
    padding : 25px;
    box-shadow: 0 3px 12px grey;
}

.articleForm{
    width : 90%;
    margin : auto; 
    padding : 20px;
}

.articleForm #mytextarea{
    height : 100%;
}

/* 404 */

#error_container{
    max-width : 80%;
    height : 500px;
    max-height : 80%;
    margin : 50px auto;
    text-align: center;
}

#error_msg{
    margin: 60px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) 
{

 .chapters{
     max-width: initial;
 }
}
